@import url('https://fonts.googleapis.com/css?family=Montserrat');

.boardCard {
    background: #FFF;
    height: 200px; 
    width: 300px; 
    border-radius: 15%;
    background-color: rgba(255,255,255,0.5);
    margin: 40px;
}

.boardCardTitle {
    color: #B63434; 
    font-family: 'Montserrat'; 
    font-size: 22px;
    padding: 18.5%;
    font-weight: bold;
}

.boardCardRemoveButton {
    border: none;
    background-color: #FFAAAA;
    left: 45%;
    border-radius: 50%;
    height: 20px; 
    width: 20px;
}

.boardCardRemoveButtonDiv {
    position: relative;
    top: 8%; 
    left: 40%;
}

.boardCardDescription {
    margin-top: 2px;
    font-size: 15px;
    color: #ad6f6f;
}
