@import url('https://fonts.googleapis.com/css?family=Montserrat');

.addNewTaskButton {
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top:10px;
    padding-left: 10px; 
    padding-right: 10px;
    color: #FFF;
    background-color: #AC6D6D;
}

.boardPage {
    background: #FFD3B6;
    height: 2000px;
}

.boardHeader {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.boardTitle {
    padding: 15px;
    text-align: center; 
    font-family: 'Montserrat'; 
    font-size: 22px;
    font-weight: bold;
    color: #AC6D6D;
}

.boardDescription {
    padding-bottom:15px;
    font-family: 'Montserrat'; 
    font-size: 13px;
    text-align: center;
    align-items: center;
    color: #6d3e3e;

}


.columnsList {
    align-items: center;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.boardsListItem {
    padding: 20px;
}

[contenteditable] {
    outline: 0px solid transparent;
}


.settingsButton {
    margin-right: 15px;
}

.backButton {
    margin-left: 15px;
}


