@import url('https://fonts.googleapis.com/css?family=Montserrat');

.column {
    background-color: rgba(255,255,255,0.5);
    min-height: 400px;
    clear:both;
    min-width: 305px; 
    border-radius: 8%;
    margin: 40px;
}

.columnTitle {
    color: #B63434; 
    font-family: 'Montserrat'; 
    font-size: 15px;
    padding: 5%;
    font-weight: bold;
}

/* Mobile view css */ 
@media (max-width : 400px) {
    .column {
        background-color: rgba(255,255,255,0.5);
        min-height: 400px;
        clear:both;
        max-width: 100%;
        border-radius: 5%;
        margin: 40px;
    }
}
