.task-card {
    background-color: rgba(255,255,255, 1);
    opacity: 100% !important;
    margin-left: 20px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    word-break: break-all;
    word-wrap: break-word;
    cursor: pointer;
    width: 250px;
  }
  
  